
 body {
    background: radial-gradient(circle at center, #111 0%, #696666 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: sans-serif;
   
  }

  .sphere {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #444 0%, #111 70%);
    box-shadow: inset -10px -10px 25px rgba(103, 107, 107, 0.6),
                inset 10px 10px 30px rgba(255,255,255,0.1),
                0 0 40px rgba(0,0,0,0.6);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    position:relative;
   
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    gap:10px;
    position: relative;
    transition: transform 0.2s ease;
  }

  /* Simula la distribución del menú */
  .grid > div:nth-child(10n+6),
  .grid > div:nth-child(10n+7),
  .grid > div:nth-child(10n+8),
  .grid > div:nth-child(10n+9),
  .grid > div:nth-child(10n+10) {
      margin-left: 45px;
  }


  .icon {
    width: 70px;
    height: 70px;
    background: #444;
    border-radius: 50%;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: transform 0.25s ease, filter 0.25s ease, z-index 0s;
    cursor: pointer;
  }

  

  /* Efecto principal */
  .icon:hover {
    transform: scale(1.1);
    z-index: 5;
    filter: brightness(1.3);
    background-color: transparent;
  }



  /* Todos los iconos se acercan un poco al hover */
  .grid:hover .icon {
    transform: scale(1.15);
    filter: brightness(1.05);
  }

  .grid:hover .icon:hover {
    transform: scale(2.1);
    filter: brightness(1.4);
  }